<mt:unless name="simple_grid_field_common_css">
    <style type="text/css">
        .simple-grid-field-table {
            margin: 8px 0px;
        }
        .simple-grid-field-table .sort-tab {
            position: relative;
        }
        .simple-grid-field-table .col input {
            width: 120px;
        }
        .simple-grid-field-table .col.sort {
            width: 44px;
        }
        pre.code {
            width: 75%;
            margin-top: 3px;
        }
    </style>
    <mt:setvar name="simple_grid_field_common_css" value="1">
</mt:unless>